@import "vars";
@import "mixins";

.header__inner {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 11;
    padding: 0 10px;
    background: linear-gradient(to right,#cb11ab 0,#481173 100%) no-repeat;
}
.header {
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    &__logo {
        font-size: 30px;
        text-transform: uppercase;
        color: white;
    }

    &__input {
        @include title;
        width: 90%;
        padding: 10px;
        border-radius: 24px;
        background: rgba(255,255,255,.2);
        transition: background .3s ease;
        cursor: pointer;
        text-align: center;
        &:focus, &:hover  {
            background: white;
            color: $black;
        }
        &::placeholder {
            color: #999999;
        }
    }
}
.btn {
}
.btn-cart {
   @include btn-cart;
}
.counter {
    @include counter;
}
