@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import "vars";

body {
  font-family: 'Roboto', sans-serif;
}
.main {
  padding: 100px 0;
}
.swiper {
  width: 100%;
  height: 100%;
  border-radius: 24px;
}
