.fade-block {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.9);
  z-index: 12;
  padding: 10px;
}

.shopping-cart {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: white;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  min-width: 450px;
  min-height: 200px;
  z-index: 10;
  display: none;
  padding: 20px;
  @media (max-width: 500px) {
    min-width: 300px;
  }
  &__title {
    font-size: 24px;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
  }
  &__container {
    height: 500px;
    overflow: scroll;
    padding: 20px 0;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid black;

  }
  &__content {

  }
  &__photo {
    margin-bottom: 20px;
    img {
      width: 150px;
      height: 200px;
    }
  }
  &__name {
    font-size: 18px;
    margin-bottom: 10px;

  }
  &__price {

  }
  &__bottom {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
  }

}

.btn-close {


}
.btn-remove {

}
.total {
  padding-right: 10px;
}

.items {
  font-family: 'Merriweather', serif;
  background: #f2ede7;
  border-radius: 8px;
  width: 120px;
  display: flex;

  font-size: 18px;
  height: 30px;
  overflow: hidden;
}

.items__control {
  width: 40px;
  cursor: pointer;
  transition: 0.2s ease-in;
  text-align: center;
  align-items: center;
}

.items__control:hover {
  background: #eb5a1e;
  color: #FFF;
}

.items__current {
  width: 40px;
}

/* items--small */
.items.items--small {
  width: 90px;
  font-size: 16px;
  height: 26px;
  text-align: center;
}

.items.items--small .items__control {
  width: 30px;
}

.items.items--small .items__current {
  width: 30px;
}



.hidden {
  display: none;
}
.active {
  display: block;
}




#empty {
  font-size: 24px;
  text-align: center;
}