@import "vars";
@import "mixins";

.modal-details {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,0.9);
  z-index: 12;

  &__title {
    @include headers;
    font-size: 24px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid $black;
  }

  &__content {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: auto;
    background: white;
    display: flex;
    border-radius: 24px;
    overflow: hidden;
  }
  &__img {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    img {
      width: 100%;
    }
  }
  &__info {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 16px;
  }
  &__stock {
    display: flex;
    gap: 20px;
    font-size: 16px;
  }
  &__desc-title {
    @include headers;
    margin-bottom: 15px;
  }
  &__desc-text {
    @include title;
    font-size: 16px;
  }
}
