.modal-details {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,0.9);
  z-index: 12;

  &__content {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 550px;
  }
  &__image {
    width: 100%;
    height: 100%;
  }

}
