@import "vars";
@import "mixins";

.products {

  &__title {
    @include headers;
  }

  &__card {
    width: 20%;
  }

  &__card-img {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    margin-bottom: 20px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    &:hover .btn-preview{
      opacity: 1;
    }
    img {
      width: 80%;
    }
  }

  &__card-review {
  }

  &__card-add {
  }

  &__card-info {
  }
}
.products-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  
}
.btn-preview {
  @include btn-preview;
}
.btn-add {
  @include btn-add;
}
.price {
  @include price;
}
.card-title {
  @include title;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
